WITH INSERCAO AS (
   SELECT ROW_NUMBER() OVER () + NOVO_PNTCODIGO AS PNTCODIGO, 
          *
     FROM (
      SELECT DISTINCT ON (RECODIGO)
             REQDATA AS PNTDATA,
             RECODPES AS PACODIGO,
             REUNIORI AS USCODIGO,
             RECODPRO AS PFCODIGO,
             PVCODIGO,
             6 AS LACODIGO,
             7 AS ATCODIGO,
             REQDATA AS PNTDATAREGISTRO,
             REQDATA AS PNTINICIO,
             REQDATA + INTERVAL '1 MINUTE' AS PNTFINAL,
             1 AS PNTSITUACAO,
             CAST(NULL AS BIGINT) AS PNTCODIGOORIGEM,
             USU_COD AS USU_COD,
             2 AS PNTSIGILOSO,
             1 AS PNTTIPO,
             CAST(NULL  AS INTEGER) AS PNTVACINAEMDIA,
             1 AS PNTCARATER,
             CAST(NULL AS TEXT) AS PNTPRONTUARIO,
             CAST(NULL AS INTEGER) AS PRONTUARIO,
             CAST(NULL AS INTEGER) AS ODONTOLOGICO,
             CAST(NULL AS INTEGER) AS BASICO,
             CAST(NULL AS INTEGER) AS PRECONSULTA,
             CAST(NULL AS INTEGER) AS OBSERVACAO,
             CAST(NULL AS DATE) AS DATA,
             CAST(NULL AS INTEGER) AS PNTVACINACAO_EM_DIA,
             CAST(NULL AS INTEGER) AS FICODIGO,
             RECODIGO
             FROM SAUDEWEB.TBREQUIS REQ 
             JOIN SAUDEWEB.TBPROREQ PRO  
              ON PRO.PQCODREQ = REQ.RECODIGO 
             JOIN SAUDEWEB.TBPROFIS PF
              ON PF.PFCODIGO = REQ.RECODPRO
             JOIN SAUDEWEB.TBPROFIS_VINCULO VIN
              ON VIN.PFCODIGO = PF.PFCODIGO
             JOIN SAUDEWEB.TBUNISAU UNI
              ON UNI.USCODIGO = REQ.REUNIORI 
             WHERE PQPROCED = '0202010503'
             AND RECODIGO NOT IN (SELECT RECODIGO FROM SAUDEWEB.TBPRONTUARIO_REQUISICAO)
      ) ORIGEM  
    ), INSERT1 AS (  
  INSERT INTO SAUDEWEB.TBPRONTUARIO 
    SELECT   PNTCODIGO,
             PNTDATA,
             PACODIGO,
             USCODIGO,
             PFCODIGO,
             PVCODIGO,
             LACODIGO,
             ATCODIGO,
             PNTDATAREGISTRO,
             PNTINICIO,
             PNTFINAL,
             PNTSITUACAO,
             PNTCODIGOORIGEM,
             USU_COD,
             PNTSIGILOSO,
             PNTTIPO,
             PNTVACINAEMDIA,
             PNTCARATER,
             PNTPRONTUARIO,
             PRONTUARIO,
             ODONTOLOGICO,
             BASICO,
             PRECONSULTA,
             OBSERVACAO,
             DATA,
             PNTVACINACAO_EM_DIA,
             FICODIGO
      FROM INSERCAO
   )
      INSERT INTO SAUDEWEB.TBPRONTUARIO_REQUISICAO
        SELECT PNTCODIGO,
               RECODIGO
        FROM INSERCAO;   

     PERFORM SETVAL('SAUDEWEB.SQ_TBPRONTUARIO_PNTCODIGO', (SELECT MAX(PNTCODIGO) FROM SAUDEWEB.TBPRONTUARIO));
END $$;
